In [62]:
!pip install pandas

Requirement already satisfied: pandas in /Users/timothyhigginbotham/opt/miniconda3/envs/ancprop/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in /Users/timothyhigginbotham/opt/miniconda3/envs/ancprop/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /Users/timothyhigginbotham/opt/miniconda3/envs/ancprop/lib/python3.9/site-packages (from pandas) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/timothyhigginbotham/opt/miniconda3/envs/ancprop/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/timothyhigginbotham/opt/miniconda3/envs/ancprop/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [63]:
>>> import pandas as pd
>>> import numpy as np

In [ ]:
>>> to_drop = ['Appraisal Year',
...            'Parcel ID URL',
...            'Property Type',
...            'Owner Line 1',
...            'Owner Line 2',
...            'Owner Line 3',
...            'OwnerLine4',
...            'Accessory Grade 4',
              'Accessory Condition 4',
              'Accessory Type 5',
              'CAMAKey',
              'Accessory Quantity 5',
              'Accessory Area 5',
              'Accessory Grade 5',
              ]

>>> df.drop(to_drop, inplace=True, axis=1)

>>> to_drop = ['Owner City',
...            'Owner State',
...            'Owner ZIP',
...            'Legal Description 1',
...            'Legal Description 2',
...            'Legal Description 3',
...            'Condo Unit Number',
...            'Accessory Area 3',
              'Accessory Grade 3',
              'Accessory Condition 3',
              'Accessory Type 4',
              'Accessory Quantity 4',
              'Accessory Year Built 4',
              'Accessory Area 4',
               'Accessory Year Built 5',
               'Accessory Condition 5'
              ]

>>> df.drop(to_drop, inplace=True, axis=1)

>>> to_drop = ['Lot Size',
...            'Zoning District',
...            'Tax District',
...            'Grid Map',
...            'HRA #',
...            'Deed Book',
...            'Accessory Type 2',
...            'Accessory Quantity 2',
              'Accessory Year Built 2',
              'Accessory Area 2',
              'Accessory Grade 2',
              'Accessory Condition 2',
              'Accessory Type 3',
              'Accessory Quantity 3',
               'Accessory Year Built 3'
              ]

>>> df.drop(to_drop, inplace=True, axis=1)

>>> to_drop = ['Lower Level Additions 1',
...            'First Floor Additions 1',
...            'Second Floor Additions 1',
...            'Third Floor Additions 1',
...            'Lower Level Additions 2',
...            'First Floor Additions 2',
...            'Second Floor Additions 2',
              'Third Floor Additions 2',
              'Area of Addition 2',
              'Lower Level Additions 3',
              'First Floor Additions 3',
              'Second Floor Additions 3',
               'Third Floor Additions 3',
               'Area of Addition 3',
               'Lower Level Additions 4',
               'First Floor Additions 4',
               'Second Floor Additions 4',
               'Third Floor Additions 4',
               'Area of Addition 4',
               'First Floor Additions 5',
               'Second Floor Additions 5',
               'Area of Addition 5',
               'Lower Level Additions 6',
               'First Floor Additions 6',
               'Second Floor Additions 6'
              ]

>>> df.drop(to_drop, inplace=True, axis=1)

>>> to_drop = ['Class',
              'Grade',
              'Area Of Addition 1',
               'Additions Lower Level 5',
               'Third Floor Additions 5'
              ]
>>> df.drop(to_drop, inplace=True, axis=1)

In [ ]:
#Dropping all null values from "Year Built"

df = df.dropna(subset=['Year Built'])

In [ ]:
#splitting Location (x) into two columns: Latitude and Longitude
df['x'].str.strip('()')                               \
                   .str.split(', ', expand=True)                   \
                   .rename(columns={0:'Latitude', 1:'Longitude'})

In [69]:
# Create two lists for the loop results to be placed
lat = []
lon = []

# For each row in a varible,
for row in df['x']:
    # Try to,
    try:
        # Split the row by comma and append
        # everything before the comma to lat
        lat.append(row.split(',')[0])
        # Split the row by comma and append
        # everything after the comma to lon
        lon.append(row.split(',')[1])
    # But if you get an error
    except:
        # append a missing value to lat
        lat.append(np.NaN)
        # append a missing value to lon
        lon.append(np.NaN)

# Create two new columns from lat and lon
df['latitude'] = lat
df['longitude'] = lon# Create two lists for the loop results to be placed
lat = []
lon = []

In [88]:
df.to_csv('resi-cleaned.csv')