In [62]:
!pip install pandas

Requirement already satisfied: pandas in /Users/timothyhigginbotham/opt/miniconda3/envs/ancprop/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in /Users/timothyhigginbotham/opt/miniconda3/envs/ancprop/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /Users/timothyhigginbotham/opt/miniconda3/envs/ancprop/lib/python3.9/site-packages (from pandas) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/timothyhigginbotham/opt/miniconda3/envs/ancprop/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/timothyhigginbotham/opt/miniconda3/envs/ancprop/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [63]:
>>> import pandas as pd
>>> import numpy as np

In [64]:
>>> df = pd.read_csv('anchorage-resi.csv')
>>> df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'anchorage-resi.csv'

In [ ]:
>>> to_drop = ['Appraisal Year',
...            'Parcel ID URL',
...            'Property Type',
...            'Owner Line 1',
...            'Owner Line 2',
...            'Owner Line 3',
...            'OwnerLine4',
...            'Accessory Grade 4',
              'Accessory Condition 4',
              'Accessory Type 5',
              'CAMAKey',
              'Accessory Quantity 5',
              'Accessory Area 5',
              'Accessory Grade 5',
              ]

>>> df.drop(to_drop, inplace=True, axis=1)

In [ ]:
df.head()

In [ ]:
>>> to_drop = ['Owner City',
...            'Owner State',
...            'Owner ZIP',
...            'Legal Description 1',
...            'Legal Description 2',
...            'Legal Description 3',
...            'Condo Unit Number',
...            'Accessory Area 3',
              'Accessory Grade 3',
              'Accessory Condition 3',
              'Accessory Type 4',
              'Accessory Quantity 4',
              'Accessory Year Built 4',
              'Accessory Area 4',
               'Accessory Year Built 5',
               'Accessory Condition 5'
              ]

>>> df.drop(to_drop, inplace=True, axis=1)

In [ ]:
df.head()

In [ ]:
>>> to_drop = ['Lot Size',
...            'Zoning District',
...            'Tax District',
...            'Grid Map',
...            'HRA #',
...            'Deed Book',
...            'Accessory Type 2',
...            'Accessory Quantity 2',
              'Accessory Year Built 2',
              'Accessory Area 2',
              'Accessory Grade 2',
              'Accessory Condition 2',
              'Accessory Type 3',
              'Accessory Quantity 3',
               'Accessory Year Built 3'
              ]

>>> df.drop(to_drop, inplace=True, axis=1)

In [ ]:
df.head()

In [ ]:
>>> to_drop = ['Deed Page',
...            'Deed Date',
...            'Plat Number',
...            'Appraised Land Value',
...            'Appraised Building Value',
...            'Second Floor Additions 8',
...            'Third Floor Additions 8',
...            'Area of Addition 8',
              'Accessory Type 1',
              'Accessory Quantity 1',
              'Accessory Year Built 1',
              'Accessory Area 1',
              'Accessory Grade 1',
              'Accessory Condition 1'
              ]

>>> df.drop(to_drop, inplace=True, axis=1)

In [ ]:
df.head()

In [ ]:
>>> to_drop = ['Exemption 1 Type',
...            'Exemption 1 Amount',
...            'Exemption 2 Type',
...            'Exemption 2 Amount',
...            'Exemption 3 Type',
...            'Third Floor Additions 6',
...            'Area of Addition 6',
...            'Lower Level Additions 7',
              'First Floor Additions 7',
              'Second Floor Additions 7',
              'Third Floor Additions 7',
              'Area of Addition 7',
              'Lower Level Additions 8',
              'First Floor Additions 8'
              ]

>>> df.drop(to_drop, inplace=True, axis=1)

In [ ]:
df.head()

In [ ]:
>>> to_drop = ['Exemption 3 Amount',
...            'Exemption 4 Type',
...            'Exemption 4 Amount',
...            'Exemption 5 Type',
...            'Exemption 5 Amount',
...            'Exemption 6 Type',
...            'Exemption 6 Amount',
...            'Total Exemptions',
              'Taxable Value',
              'Land Value Previous',
              'Building Value Previous',
              'Land Value Previous 2',
              'Building Value Previous 2',
               'Total Living Units',
               'Style',
               'Story Height',
               'External Wall',
               'Effective Year',
               'Total All Rooms',
               'Bedrooms',
               'Recreation Rooms',
               'Full Baths',
               'Half Baths',
               'Additional Fixtures',
               'Heat Type',
               'Heat Fuel',
               'Heat System',
               'Fireplace Stacks',
               'Fireplace Openings',
               'Free Standing Fireplace Stacks',
               'Extra Value Items 1',
               'Extra Value Items 1 Quantity',
               'Extra Value Items 2',
               'Extra Value Items 2 Quantity',
               'E-Z Set Fireplace Stacks',
               'Condo Style',
               'Condo Floor',
               'Cost/Design',
               'Physical Condition',
               'Basement Area',
               'Finished Basement Area',
               'Basement Garages',
               'First Floor Area',
               'Second Floor Area',
               'Third Floor Area',
               'Half Floor Area',
               'Finished Attic Area',
               'Finished Deep Basement Area'
              ]

>>> df.drop(to_drop, inplace=True, axis=1)

In [ ]:
df.head()

In [ ]:
>>> to_drop = ['Lower Level Additions 1',
...            'First Floor Additions 1',
...            'Second Floor Additions 1',
...            'Third Floor Additions 1',
...            'Lower Level Additions 2',
...            'First Floor Additions 2',
...            'Second Floor Additions 2',
              'Third Floor Additions 2',
              'Area of Addition 2',
              'Lower Level Additions 3',
              'First Floor Additions 3',
              'Second Floor Additions 3',
               'Third Floor Additions 3',
               'Area of Addition 3',
               'Lower Level Additions 4',
               'First Floor Additions 4',
               'Second Floor Additions 4',
               'Third Floor Additions 4',
               'Area of Addition 4',
               'First Floor Additions 5',
               'Second Floor Additions 5',
               'Area of Addition 5',
               'Lower Level Additions 6',
               'First Floor Additions 6',
               'Second Floor Additions 6'
              ]

>>> df.drop(to_drop, inplace=True, axis=1)

In [ ]:
df.head()

In [ ]:
>>> to_drop = ['Class',
              'Grade',
              'Area Of Addition 1',
               'Additions Lower Level 5',
               'Third Floor Additions 5'
              ]
>>> df.drop(to_drop, inplace=True, axis=1)

In [ ]:
df.head()

In [ ]:
df.to_csv('resi-cleaned.csv')

In [ ]:
>>> to_drop = ['Total Value Previous',
              'Total Living Area']
>>> df.drop(to_drop, inplace=True, axis=1)

In [ ]:
df.head()

In [ ]:
df = df.dropna(subset=['Year Built'])

In [ ]:
df.head()

In [ ]:
df.to_csv('resi-cleaned.csv')

In [ ]:
df = df.rename(columns={'Location': 'x'})

In [ ]:
df.head()

In [ ]:
df.to_csv('resi-cleaned.csv')

In [ ]:
df['x'].str.strip('()')                               \
                   .str.split(', ', expand=True)                   \
                   .rename(columns={0:'Latitude', 1:'Longitude'})

In [ ]:
# Create two lists for the loop results to be placed
lat = []
lon = []

# For each row in a varible,
for row in df['x']:
    # Try to,
    try:
        # Split the row by comma and append
        # everything before the comma to lat
        lat.append(row.split(',')[0])
        # Split the row by comma and append
        # everything after the comma to lon
        lon.append(row.split(',')[1])
    # But if you get an error
    except:
        # append a missing value to lat
        lat.append(np.NaN)
        # append a missing value to lon
        lon.append(np.NaN)

# Create two new columns from lat and lon
df['latitude'] = lat
df['longitude'] = lon# Create two lists for the loop results to be placed
lat = []
lon = []

In [ ]:
df.head()

In [ ]:
>>> to_drop = ['x'
              ]
>>> df.drop(to_drop, inplace=True, axis=1)

In [65]:
df.head()

,Parcel Address,Appraised Total Value,Total Value Previous 2,Year Built,latitude,longitude
0,333 M ST,437900.0,394600.0,1978.0,21858864601,-149.905660887496)
1,333 M ST,551900.0,487500.0,1978.0,21858864601,-149.905660887496)
2,333 M ST,350400.0,325200.0,1978.0,21858864601,-149.905660887496)
3,333 M ST,349900.0,324800.0,1978.0,21858864601,-149.905660887496)
4,333 M ST,359300.0,334200.0,1978.0,21858864601,-149.905660887496)

In [68]:
>>> df = pd.read_csv('resi-cleaned.csv')
>>> df.head()

,Unnamed: 0,Parcel Address,Appraised Total Value,Total Value Previous 2,Year Built,x
0,0,333 M ST,437900.0,394600.0,1978.0,"(61.21858864601, -149.905660887496)"
1,1,333 M ST,551900.0,487500.0,1978.0,"(61.21858864601, -149.905660887496)"
2,2,333 M ST,350400.0,325200.0,1978.0,"(61.21858864601, -149.905660887496)"
3,3,333 M ST,349900.0,324800.0,1978.0,"(61.21858864601, -149.905660887496)"
4,4,333 M ST,359300.0,334200.0,1978.0,"(61.21858864601, -149.905660887496)"

In [69]:
# Create two lists for the loop results to be placed
lat = []
lon = []

# For each row in a varible,
for row in df['x']:
    # Try to,
    try:
        # Split the row by comma and append
        # everything before the comma to lat
        lat.append(row.split(',')[0])
        # Split the row by comma and append
        # everything after the comma to lon
        lon.append(row.split(',')[1])
    # But if you get an error
    except:
        # append a missing value to lat
        lat.append(np.NaN)
        # append a missing value to lon
        lon.append(np.NaN)

# Create two new columns from lat and lon
df['latitude'] = lat
df['longitude'] = lon# Create two lists for the loop results to be placed
lat = []
lon = []

In [70]:
df.head()

,Unnamed: 0,Parcel Address,Appraised Total Value,Total Value Previous 2,Year Built,x,latitude,longitude
0,0,333 M ST,437900.0,394600.0,1978.0,"(61.21858864601, -149.905660887496)",(61.21858864601,-149.905660887496)
1,1,333 M ST,551900.0,487500.0,1978.0,"(61.21858864601, -149.905660887496)",(61.21858864601,-149.905660887496)
2,2,333 M ST,350400.0,325200.0,1978.0,"(61.21858864601, -149.905660887496)",(61.21858864601,-149.905660887496)
3,3,333 M ST,349900.0,324800.0,1978.0,"(61.21858864601, -149.905660887496)",(61.21858864601,-149.905660887496)
4,4,333 M ST,359300.0,334200.0,1978.0,"(61.21858864601, -149.905660887496)",(61.21858864601,-149.905660887496)

In [74]:
df.head()

,Unnamed: 0,Parcel Address,Appraised Total Value,Total Value Previous 2,Year Built,latitude,longitude
0,0,333 M ST,437900.0,394600.0,1978.0,(61.21858864601,-149.905660887496)
1,1,333 M ST,551900.0,487500.0,1978.0,(61.21858864601,-149.905660887496)
2,2,333 M ST,350400.0,325200.0,1978.0,(61.21858864601,-149.905660887496)
3,3,333 M ST,349900.0,324800.0,1978.0,(61.21858864601,-149.905660887496)
4,4,333 M ST,359300.0,334200.0,1978.0,(61.21858864601,-149.905660887496)

In [75]:
>>> to_drop = ['Unnamed: 0'
              ]
>>> df.drop(to_drop, inplace=True, axis=1)

In [76]:
df.head()

,Parcel Address,Appraised Total Value,Total Value Previous 2,Year Built,latitude,longitude
0,333 M ST,437900.0,394600.0,1978.0,(61.21858864601,-149.905660887496)
1,333 M ST,551900.0,487500.0,1978.0,(61.21858864601,-149.905660887496)
2,333 M ST,350400.0,325200.0,1978.0,(61.21858864601,-149.905660887496)
3,333 M ST,349900.0,324800.0,1978.0,(61.21858864601,-149.905660887496)
4,333 M ST,359300.0,334200.0,1978.0,(61.21858864601,-149.905660887496)

In [77]:
df['latitude'] = df['latitude'].str[1:]
df

,Parcel Address,Appraised Total Value,Total Value Previous 2,Year Built,latitude,longitude
0,333 M ST,437900.0,394600.0,1978.0,61.21858864601,-149.905660887496)
1,333 M ST,551900.0,487500.0,1978.0,61.21858864601,-149.905660887496)
2,333 M ST,350400.0,325200.0,1978.0,61.21858864601,-149.905660887496)
3,333 M ST,349900.0,324800.0,1978.0,61.21858864601,-149.905660887496)
4,333 M ST,359300.0,334200.0,1978.0,61.21858864601,-149.905660887496)
...,...,...,...,...,...,...
472792,19043 CHRYSTAL ISLAND DR,393700.0,361300.0,1996.0,61.30000264980837,-149.526501242012)
472793,8950 NORTHWOOD PARK CIR,261700.0,239900.0,1997.0,61.30160324750416,-149.517413674976)
472794,156 ALTA DR,437000.0,355100.0,1983.0,60.95519226901234,-149.129209266702)
472795,102 HEAVENLY VALLEY DR,NaN,NaN,2020.0,60.959915313330164,-149.121954460261)
472796,360 BORETIDE RD,526500.0,492500.0,1999.0,60.98953932536043,-149.50475435961903)

In [80]:
>>> df = pd.read_csv('resi-cleaned.csv')
>>> df.head()

,Unnamed: 0,Parcel Address,Appraised Total Value,Total Value Previous 2,Year Built,latitude,longitude
0,0,333 M ST,437900.0,394600.0,1978.0,61.218589,-149.905660887496)
1,1,333 M ST,551900.0,487500.0,1978.0,61.218589,-149.905660887496)
2,2,333 M ST,350400.0,325200.0,1978.0,61.218589,-149.905660887496)
3,3,333 M ST,349900.0,324800.0,1978.0,61.218589,-149.905660887496)
4,4,333 M ST,359300.0,334200.0,1978.0,61.218589,-149.905660887496)

In [81]:
df['longitude'] = df['longitude'].str[:-1]
df

,Unnamed: 0,Parcel Address,Appraised Total Value,Total Value Previous 2,Year Built,latitude,longitude
0,0,333 M ST,437900.0,394600.0,1978.0,61.218589,-149.905660887496
1,1,333 M ST,551900.0,487500.0,1978.0,61.218589,-149.905660887496
2,2,333 M ST,350400.0,325200.0,1978.0,61.218589,-149.905660887496
3,3,333 M ST,349900.0,324800.0,1978.0,61.218589,-149.905660887496
4,4,333 M ST,359300.0,334200.0,1978.0,61.218589,-149.905660887496
...,...,...,...,...,...,...,...
472792,472792,19043 CHRYSTAL ISLAND DR,393700.0,361300.0,1996.0,61.300003,-149.526501242012
472793,472793,8950 NORTHWOOD PARK CIR,261700.0,239900.0,1997.0,61.301603,-149.517413674976
472794,472794,156 ALTA DR,437000.0,355100.0,1983.0,60.955192,-149.129209266702
472795,472795,102 HEAVENLY VALLEY DR,NaN,NaN,2020.0,60.959915,-149.121954460261
472796,472796,360 BORETIDE RD,526500.0,492500.0,1999.0,60.989539,-149.50475435961903

In [82]:
df.to_csv('resi-cleaned.csv')

In [84]:
>>> to_drop = ['Unnamed: 0'
              ]
>>> df.drop(to_drop, inplace=True, axis=1)
df.head()

,Parcel Address,Appraised Total Value,Total Value Previous 2,Year Built,latitude,longitude
0,333 M ST,437900.0,394600.0,1978.0,61.218589,-149.905660887496
1,333 M ST,551900.0,487500.0,1978.0,61.218589,-149.905660887496
2,333 M ST,350400.0,325200.0,1978.0,61.218589,-149.905660887496
3,333 M ST,349900.0,324800.0,1978.0,61.218589,-149.905660887496
4,333 M ST,359300.0,334200.0,1978.0,61.218589,-149.905660887496

In [85]:
df.to_csv('resi-cleaned.csv')